@use 'sass:list';
@use './variables' as *;
@use './functions/rem' as *;
@each $breakpoint, $list in $breakpoints {
    $col: list.nth($list, $n: 2);
    $bp: list.nth($list, $n: 1);
    @media (min-width: $bp) {
        .cmp-grid {
            display: grid;
            column-gap: rem($gutter);
            grid-template-columns: repeat($col, 1fr);
        }

        @for $i from 1 through $col {
            .col-#{$breakpoint}-#{$i} {
                grid-column: span $i;
            }
        }

    }
}