
$columns: 12;
$gutter: 16;
$breakpoints: (
  'xs': (0, 4),
  'sm': (576px, 4),
  'md': (768px, 8),
  'lg': (1024px, 12),
  'xl': (1366px, 12),
);
$defaultSize: 16;

:root {
    // Font Variables
    --font-family: 'Roboto', sans-serif;
    --font-family-bold: 'Roboto-Bold', sans-serif;
    --font-family-semibold: 'Roboto-SemiBold', sans-serif;

    //Color Variables
    --color-black: #000000;
    --color-white: #ffffff;
    
    //Header Variables
    --header-color-background: #0b132b;
    --header-color-hover-background: #1c2541;
    --header-color-hover-mobile-background: #f5f5f5;
    --header-color-text: #ffffff;
    --header-height: 60px;
    --header-mobile-height: 45px;
    // Footer Variables
    --footer-color-background: #f5f5f5;
    --footer-color---text: #757575;
}